<p>news works!</p>

<div class="about-section">
  <div class="about-sidebar">
    <div class="about-icon">
      <!-- SVG ou icône utilisateur -->
      <svg width="28" height="28" fill="none" viewBox="0 0 24 24"><path stroke="#008000" stroke-width="2" d="M12 12a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0 2c-4.418 0-8 2.239-8 5v3h16v-3c0-2.761-3.582-5-8-5Z"/></svg>
    </div>
    <a href="#" class="about-link">Learn more</a>
  </div>
  <div class="about-content">
    <img src="assets/images/Rectangle11.png" alt="Team" class="about-image" />
    <p class="about-text">
      Our architectural firm is committed to creating buildings that are not only modern and stylish, but also eco-friendly and sustainable. We understand the importance of minimizing the environmental impact of our buildings and strive to incorporate sustainable design practices in all of our projects.
    </p>
  </div>
</div>
